/* List item */
.List-card {
    background-color: var(--quaternary-color);
    padding: 10px;
    margin: 10px;
    border-color: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.2);
    width: 450px;
    height: 225px;
    max-height: calc(100vh - 100px);
    display: grid;
    transition: all 0.5s ease-in-out;
}

.List-card:hover {
    background: var(--tertiary-color);
    filter: brightness(1.05) drop-shadow(0 0 1px rgba(234, 234, 234, 0.9));
    scale: 1.05;
    transition: .2s ease-in-out;
}

.List-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -2rem;
    color: var(--gray-text);
    width: 100%;
}

.List-card-header span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 5px;
}

.List-card-header span:hover {
    cursor: default;
    color: var(--gray-text);
    text-decoration: none;
}

.List-card-info-span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    color: var(--gray-text);
}

.List-card-info-span p {
    margin-left: 5px;
    color: var(--primary-accent)
}

.List-card-info-span:hover {
    cursor: default;
    color: var(--gray-text);
    text-decoration: none;
}

.List-card-default-icon {
    border-radius: 50%;
    background-color: var(--light-gray-text);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.2);
    width: 12px;
    height: 12px;
    margin: 0 auto;
    margin-bottom: 4px;
}

.List-card-name {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--light-gray-text);
    margin-bottom: 5px;
    margin-top: -2rem;
}

.List-card-menu-icon {
    cursor: default;
    color: var(--gray-text);
    text-decoration: none;
    width: 35px;
    height: 35px;
    margin-right: -10px;
}

.List-card-menu-icon:hover {
    cursor: pointer;
    color: var(--primary-accent);
}


.List-card-drop-menu {
    box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.2);
    width: 85px;
    height: 75px;
    border: solid 1px var(--quaternary-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
}

.List-card-drop-button {
    cursor: default;
    color: var(--gray-text);
    background-color: var(--secondary-color);
    text-decoration: none;
    border-radius: 5px;
    font-weight: semi-bold;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 35px;
}

.List-card-drop-button:hover {
    text-decoration: none;
    width: calc(100px + 8.5px);
    height: calc(35px + 3.5px);
    transition: .2s ease-in-out;
    font-size: 1.2rem;
}

.List-delete-button {
    color: var(--error);
}

.List-set-icon {
    width: 20px;
    height: 20px;
    color: var(--gray-text)
}


.List-set-default-button {
    color: var(--warning);
    font-size: .8rem;
}

.List-set-default-button:hover {
    font-size: 1rem;
    color: var(--warning);
}

/* on mobile */

@media screen and (max-width: 780px) {
    /* .List-card {
        width: 200px;
        margin: 10px 0;
    }

    .List-card-name {
        font-size: 1.3rem;
    } */
}

@media screen and (max-width: 680px) {
    .List-card {
        width: 500px;
        height: 200px;
    }

    /* .List-card-header {
        font-size: smaller;
    }

    .List-card-default-icon {
        width: 10px;
        height: 10px;
    }

    .List-card-menu-icon {
        width: 30px;
        height: 30px;
    } */
}

@media screen and (max-width: 500px) {
    .List-card {
        width: 400px;
    }
}

@media screen and (max-width: 450px) {
    .List-card {
        width: 350px;
    }
}

@media screen and (max-width: 400px) {
    .List-card {
        width: 300px;
    }
}

@media screen and (max-width: 350px) {
    .List-card {
        width: 250px;
    }
}

@media screen and (max-width: 300px) {
    .List-card {
        width: 200px;
    }
}

@media screen and (max-width: 250px) {
    .List-card {
        width: 150px;
    }
}