.List-item-swipe-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--gray);
    border-radius: 12px;
}

.Swipe-justify-none {
    justify-content: center;
}

.Swipe-justify-left {
    justify-content: flex-start;
    overflow: hidden;
}

.Swipe-justify-right {
    justify-content: flex-end;
    overflow: hidden;
}

.Swipe-delete-container {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;
    /* background-color: var(--gray); */
    width: 0%;
    height: 100%;
    border-radius: 15px;
}

.Swipe-add-container {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* background-color: var(--gray); */
    width: 0%;
    height: 100%;
    border-radius: 15px;
}

.Swipe-delete-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 100%;
    background-color: var(--error);
    color: var(--light-gray-text);

    border-radius: 12px;
    border-color: var(--error);
    padding: 0.5rem 1rem;
}

.Delete-all-icon {
    width: 50px;
    height: 50px;
}

.Swipe-delete-one-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
    background-color: rebeccapurple;
    color: var(--light-gray-text);
    border-color: rebeccapurple;
    font-size: 1.5rem;
    border-radius: 12px;
    padding: 0.5rem 1rem;
}

.Swipe-add-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 100%;
    background-color: var(--primary-accent);
    color: var(--light-gray-text);
    font-size: 1.5rem;
    border-color: var(--primary-accent);
    border-radius: 12px;
    padding: 0.5rem 1rem;
}


.List-item-product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 50px;
    background-color: var(--quaternary-color);
    border-radius: 12px;
    padding: 0.5rem 1rem;
    column-gap: 1rem;
    touch-action: pan-y;
}

.List-item-product:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-accent);
}

/* Holds the Name and status */
.List-product-span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.List-name-barcode {
    font-size: 1.25rem;
}

.List-product-span:hover {
    color: var(--light-gray-text);
    cursor: default;
    text-decoration: none;
}

.List-item-status {
    border-radius: 50%;
    border: 1px solid var(--light-gray-text);
    min-width: 22.5px !important;
    min-height: 22.5px !important;
    max-width: 22.5px !important;
    max-height: 22.5px !important;
    background-color: var(--primary-color);
}

.List-item-status-completed {
    background-color: var(--success);
    border-color: var(--primary-color)
}

.List-item-status:hover {
    cursor: pointer;
    scale: 1.05;

}

.List-item-status-icon {
    color: var(--primary-accent) !important;
}

.List-item-status-icon-completed {
    color: var(--primary-color) !important;
}

.List-product-span-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    /* min-width: 35%;
    max-width: 40%; */
    width: 100%;
    height: 100%;
    gap: 1rem;
    color: var(--secondary-accent);

}

.List-product-span-controls:hover {
    cursor: pointer;
    color: var(--secondary-accent);
    text-decoration: none;
}

.List-count {
    min-width: 25px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.List-add-remove-btn-container {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 15px;
}

.List-item-quantity-button {
    width: 30px;
    height: 30px;
}

.List-item-quantity-button:hover {
    cursor: pointer;
    width: 32.5px;
    height: 32.5px;
}

.increase {
    color: var(--primary-accent);
}

.decrease {
    color: var(--error);
}

.List-item-menu-icon {
    cursor: default;
    color: inherit;
    text-decoration: none;
    width: 25px;
    height: 25px;
    margin-left: -10px;
    padding: -10px;
}

.List-item-menu-icon:nth-child(1) {
    align-self: flex-end;
    margin-right: -7px;
}

.Double-ellipsis-menu {
    /* position: absolute; */
    right: 0;
    margin-right: 20px;
}

/* on mobile */
@media screen and (max-width: 768px) {
    .List-name-barcode {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .List-name-barcode {
        font-size: .8rem;
        text-overflow: clip;
    }
}


@media screen and (max-width: 450px) {
    .List-name-barcode {
        font-size: .7rem;
    }

    .List-item-status {
        scale: .8 !important;
        margin-left: -5px;
    }
}

@media screen and (max-width: 400px) {
    .List-count p {
        font-size: .8rem;
    }
}

@media screen and (max-width: 365px) {
    .List-count p {
        font-size: .7rem;
    }

    .List-product-span-controls {
        width: 100%;
        margin-right: 15px;
    }
}

@media screen and (max-width: 300px) {

    .List-item-status {
        scale: .7 !important;
        margin-left: -5px;
    }

    .List-name-barcode {
        font-size: .6rem;
        margin-left: -5px;
    }

    .List-count {
        width: 280px;
    }

    .List-count p {
        font-size: .6rem;
    }
}

@media screen and (max-width: 285px) {
    .List-product-span-controls {
        width: 100%;
        margin-right: 20px;
    }
}