/* Page Container */
.My-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 240px);
    overflow: hidden
}

/* Header */
.My-lists-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 1rem 0 3rem 1rem;
    width: 100%;
    height: auto;
    color: var(--gray-text);
}

.My-lists-header h1 {
    font-size: 3rem;
    font-weight: 500;
}

.My-lists-header span {
    color: var(--primary-accent);
    font-size: 3rem;
}

.My-lists-header span:hover {
    cursor: default;
    text-decoration: none;
}

.My-lists-header p {
    font-size: 1.5rem;
    font-weight: 500;
}

/* List Container */
.Lists-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 6rem;
    row-gap: 2rem;
    align-items: center;
    overflow-y: auto;
}



/* Responsive */
@media screen and (max-width: 1200px) {
    .Lists-container {
        width: 96%;
        column-gap: 3rem;
        row-gap: 2rem;
    }
}

@media screen and (max-width: 900px) {
    .Lists-container {
        width: 96%;
        column-gap: 1.5rem;
        row-gap: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .Lists-container {
        width: 96%;
        column-gap: .5rem;
        row-gap: 0;
    }
}

@media screen and (max-width: 768px) {
    .My-lists-header h1, .My-lists-header span {
        font-size: 2rem;
    }

    .My-lists-header p {
        font-size: 1.25rem;
    }
}