/* Page Container */
.My-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 240px);
    overflow: hidden
}

/* Header */
.My-lists-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 1rem 0 3rem 1rem;
    width: 100%;
    height: auto;
    color: var(--gray-text);
}

.My-lists-header h1 {
    font-size: 3rem;
    font-weight: 500;
}

.My-lists-header span {
    color: var(--primary-accent);
    font-size: 3rem;
}

.My-lists-header span:hover {
    cursor: default;
    text-decoration: none;
}

.My-lists-header p {
    font-size: 1.5rem;
    font-weight: 500;
}

/* List Container */
.Lists-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 6rem;
    row-gap: 2rem;
    align-items: center;
    overflow-y: auto;
}

.Lists-add-list-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    transition: all .2s ease-in-out;
}

.Lists-add-list-form {
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    width: 350px;
    border-radius: 12px;
}

.Lists-add-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out;
}

.Lists-add-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    transition: all .2s ease-in-out;
}

.Disabled {
    background-color: var(--tertiary-color);
    cursor: not-allowed;
}

.Disabled:hover {
    background-color: var(--error);
    filter: brightness(.4);
    cursor: not-allowed;
}

.Lists-cancel-add:hover {
    background-color: var(--error);
    filter: brightness(.9);
    cursor: pointer;
    transform: scale(1.05);
    transition: all .2s ease-in-out;
}

.Form-label-container span p {
    margin-bottom: 3px;
}

input#isDefault[type="checkbox"] {
    justify-self: flex-start;
    align-self: flex-start;
    width: 15px;
    height: 15px;
    margin: 0;
}


/* Responsive */
@media screen and (max-width: 1200px) {
    .Lists-container {
        width: 96%;
        column-gap: 3rem;
        row-gap: 2rem;
    }
}

@media screen and (max-width: 900px) {
    .Lists-container {
        width: 96%;
        column-gap: 1.5rem;
        row-gap: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .Lists-container {
        width: 96%;
        column-gap: .5rem;
        row-gap: 0;
    }
}

@media screen and (max-width: 768px) {
    .My-lists-header h1, .My-lists-header span {
        font-size: 2rem;
    }

    .My-lists-header p {
        font-size: 1.25rem;
    }

    .Lists-add-form-buttons {
        flex-direction: column;
        width: 90%
    }
}