.List-page-container {
    width: 100%;
    min-height: calc(100vh - 240px);
    max-height: fit-content;
}

.My-lists-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.My-lists-header-title-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 80%;
    height: 100%;
}

.My-lists-header-p {
    color: var(--primary-accent);
}

.List-product-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 8rem;
    list-style: none;
    row-gap: 1rem;
}

.Cancel {
    background-color: var(--secondary-color);
}

.Cancel:hover {
    background-color: var(--error);
}