/* CSS Grid Sections */
.Home-header {
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: min-content;
    margin: 3rem 0 0 4.8rem;
}

/* Header Title */
.Home-header h1 {
    font-size: 3rem;
    font-weight: 400;
    width: 100%;
}

.Home-header h1:nth-child(2) {
    font-size: 4rem;
}

.Home-header span {
    color: var(--primary-accent);
    font-weight: 500;
}

/* End Header Title */

.Home-main {
    grid-area: main;
    max-width: 50vw;
    margin: 5rem 0 0 5rem;
}

.Home-main strong {
    font-size: larger;
    font-weight: 900;
    text-transform: uppercase;
    align-self: flex-start;
}

.Home-main p {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    margin: 1rem 0 1rem 0;
    color: var(--gray-text);
    max-width: 85%;
}

.Action-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    max-width: 90%;
}

.Home-hero {
    grid-area: hero;
    max-width: 50vw;
    height: auto;
    margin: auto;
    filter: brightness(82%);
}

/* End Grid Sections */

/*  CSS Grid Container */
.Home-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template:
        'header header header header hero hero'
        'main main main main hero hero'
        'main main main main hero hero'
        'main main main main hero hero'
        'main main main main hero hero'
        'main main main main hero hero';
}

/* Creates room for the sidebar */
.Home-container-logged-in-not-mobile {
    width: calc(100% - 60px);
}



/* On mobile */

@media screen and (max-width:1215px) {
    .Home-hero {
        transform: scale(0.85);
        margin: auto;
    }

    .Home-header {
        margin-left: 1.5rem;
    }

    .Home-main {
        margin-left: 1.5rem;
    }
}


@media screen and (max-width:832px) {
    .Home-main {
        margin-left: 1.5rem;
    }

    .Home-header {
        margin-left: .8rem;
    }
}

@media screen and (max-width: 768px) {
    .Home-container {
        grid-template:
            'header header header header header header'
            'hero hero hero hero hero hero'
            'hero hero hero hero hero hero'
            'main main main main main main'
            'main main main main main main'
            'main main main main main main';
    }

    .Home-header {
        text-align: center;
        margin-left: 0;
    }

    .Home-main {
        max-width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Home-main strong {
        margin-left: 3.5rem;
    }

    .Home-hero {
        max-width: 100%;
        transform: scale(0.75);
    }

    .Action-button-container {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        margin-bottom: 2rem;
        width: 100%;
    }

    .Action-button-container button {
        width: 85%;
    }
}

@media screen and (max-width:725px) {
    .Home-main strong {
        margin-left: 3.2rem;
    }
}

@media screen and (max-width:680px) {
    .Home-main strong {
        margin-left: 3rem;
    }
}

@media screen and (max-width:600px) {
    .Home-main strong {
        margin-left: 2.7rem;
    }
}

@media screen and (max-width:550px) {
    .Home-main strong {
        margin-left: 2.3rem;
    }
}

@media screen and (max-width:435px) {
    .Home-main strong {
        margin-left: 2.0rem;
    }

    .Home-header h1:nth-child(2) {
        font-size: 3.5rem;
    }
}

@media screen and (max-width:390px) {

    .Home-header h1 {
        font-size: 2.8rem;
    }

    .Home-header h1:nth-child(2) {
        font-size: 3.2rem;
    }

    .Home-main strong {
        margin-left: 1.8rem;
    }

}

@media screen and (max-width:375px) {
    .Home-header h1 {
        font-size: 2.5rem;
    }

    .Home-header h1:nth-child(2) {
        font-size: 3.0rem;
    }

    .Home-main strong {
        margin-left: 1.5rem;
    }

    .Home-hero {
        transform: scale(0.70);
    }
}