.Navigation {
    display: flex;
    width: 100%;
    max-height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-color);
    padding-top: 3px;
    font-size: larger;
}

.Navigation-list {
    display: flex;
    list-style: none;
    width: -moz-fit-content;
    width: fit-content;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 5px;
    margin-right: 1rem;
}


.Navigation-item a {
    /* remove item styles */
    text-decoration: none;
    color: var(--light-gray-text);
}

.Navigation-item, .Navigation-item:hover {
    color: var(--light-gray-text);
    text-decoration: none;
}


.Navigation-item:hover {
    color: var(--primary-accent);
    text-decoration: underline;
    text-underline-offset: 8px;
    cursor: pointer;
}

.Navigation-item-active {
    color: var(--secondary-accent);
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 8px;
}


.Navigation-back-arrow {
    width: 32px;
    height: 32px;
    cursor: pointer;
    color: var(--light-gray-text);
    margin-left: 1rem;
}

.Navigation-back-arrow:hover {
    cursor: pointer;
    color: var(--primary-accent);
    scale: 1.10;
}


/*  MOBILE STYLES */

@media screen and (max-width: 768px) {
    .Navigation-mobile {
        padding: 1rem;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: larger;
    }

    .Navigation-menu-icon {
        width: 32px;
        height: 32px;
        cursor: pointer;
    }

    .Navigation-menu-icon:hover {
        color: var(--primary-accent);
    }

    .Navigation-menu-close {
        width: 32px;
        height: 32px;
        cursor: pointer;
        color: var(--light-gray-text);
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .Navigation-menu-close:hover {
        color: red;
    }

    .Navigation-menu-expanded {
        display: flex;
        list-style: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 1rem;
        background: var(--secondary-color);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50vh;
        z-index: 99999;
    }
}