/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  /* Reset margin and padding */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Colors */
  --primary-color: #12151a;
  --secondary-color: #1b1e28;
  --tertiary-color: #242732;
  --quaternary-color: #232631;
  --primary-accent: #0bbf35;
  --alt-primary-accent: #209240;
  --secondary-accent: #1bc2ff;
  --gray-text: #4b4e56;
  --light-gray-text: #d9e2e2;
  --gray: #2d343f;

  /* Theme Margins and Padding */

  --margin: 1rem;
  --padding: 1rem;



  /* Scroll Bars */
  scrollbar-width: thin;
  scrollbar-color: rgb(32, 32, 31) rgb(4, 4, 22);
}

/* Scroll Bars - Cont*/

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgb(32, 32, 31);
}


*::-webkit-scrollbar-thumb {
  background-color: rgb(5, 5, 21);
  border-radius: 12px;
}

/* End Scroll Bars */

/*  HTML and Body Globals */
html {
  /* Default background color (No white flash) */
  background-color: var(--primary-color);
  color: var(--light-gray-text);
}

body {
  /* background: var(--primary-color); */
  font-family: 'Inter', sans-serif;
  /* Default text color */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reusable Classes */

.Action-button {
  background: var(--primary-accent);
  color: var(--light-gray-text);
  border: none;
  border-radius: 0.5rem;
  padding: 1.0rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.Action-button:hover {
  background: var(--alt-primary-accent);
  scale: 1.1;
  text-decoration: none;
}

.Button {
  background: var(--tertiary-color);
  color: var(--light-gray-text);
  border: none;
  border-radius: 0.5rem;
  padding: 1.0rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.Disabled-button {
  background: var(--tertiary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-accent);
  cursor: not-allowed;
  border-radius: 0.5rem;
  padding: 1.0rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
}

.Button:hover {
  background: var(--gray);
  scale: 1.1;
  text-decoration: none;
}

.Text-shadow {
  text-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.9);
}