/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  /* Reset margin and padding */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Colors */
  --primary-color: #12151a;
  --secondary-color: #1b1e28;
  --tertiary-color: #242732;
  --quaternary-color: #232631;
  --primary-accent: #0bbf35;
  --alt-primary-accent: #209240;
  --secondary-accent: #1bc2ff;
  --gray-text: #4b4e56;
  --light-gray-text: #d9e2e2;
  --gray: #2d343f;

  --error: #ff0000;
  --success: #09a52e;
  --warning: #ff9f1a;
  --info: #1bc2ff;


  /* Theme Margins and Padding */

  --margin: 1rem;
  --padding: 1rem;



  /* Scroll Bars */
  scrollbar-width: thin;
  scrollbar-color: rgb(32, 32, 31) rgb(4, 4, 22);
}

/* Scroll Bars - Cont*/

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgb(32, 32, 31);
}


*::-webkit-scrollbar-thumb {
  background-color: rgb(5, 5, 21);
  border-radius: 12px;
}

input:focus {
  outline: var(--warning) solid 2px;
}

/* End Scroll Bars */

/*  HTML and Body Globals */
html {
  /* Default background color (No white flash) */
  background-color: var(--primary-color);
  color: var(--light-gray-text);
  width: 100vw;
  overflow-x: hidden;
}

body {
  /* background: var(--primary-color); */
  font-family: 'Inter', sans-serif;
  /* Default text color */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.Portal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#portal-root {
  z-index: 0;
}

.Toast {
  position: fixed;
  /* center the toast */
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  width: 300px;
  min-height: 100px;
  max-height: min-content;
  background-color: black;
  border: .5px solid var(--light-gray-text);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(200, 200, 200);
  margin: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: row;
  opacity: 1;
  transition: ease-in-out 0.7s;
  animation: fadein 0.5s, 2.5s;
  -webkit-animation: fadein 0.5s, 2.5s;
}

.Toast-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--secondary-color);
  border-radius: 3px 5px 5px 3px;
  align-items: center;
  width: 98%;
  z-index: 9999;
  padding: 0.5rem;
  height: 100%;
}

.Toast-status-icon {
  width: 30px;
  height: 30px;
  align-self: flex-start;
}

.Toast-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.Toast-heading {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(200, 200, 200);
  margin: 0.5rem;
  align-self: flex-start;
}

.Toast-message {
  font-size: .8rem;
  font-weight: 400;
  color: var(--light-gray-text);
  margin: 0.5rem;
}

.Toast-timestamp {
  font-size: .6rem;
  font-weight: 400;
  color: var(--light-gray-text);
  margin: 0.5rem;
  align-self: flex-start;
}

.Toast-close-button {
  width: 22px;
  height: 22px;
  cursor: pointer;
  color: var(--gray-text);
  position: absolute;
  top: 2px;
  right: 3px;
}

.Toast-close-button:hover {
  color: red;
  scale: 1.10
}

.Toast-fadeout {
  animation: fadeout 0.5s, 2.5s;
  -webkit-animation: fadeout 0.5s, 2.5s;
  opacity: 0;
}

.Toast-success {
  background-color: #09a52e;
  border-color: #09a52e;
  box-shadow: 0 0 5px #09a52e;
  color: #09a52e;
}

.Toast-error {
  background-color: var(--error);
  border-color: var(--error);
  box-shadow: 0 0 5px var(--error);
  color: var(--error);
}

.Toast-warning {
  background-color: var(--warning);
  border-color: var(--warning);
  box-shadow: 0 0 5px var(--warning);
  color: var(--warning);
}

.Toast-info {
  background-color: var(--info);
  border-color: var(--info);
  box-shadow: 0 0 5px var(--info);
  color: var(--info);
}



/* Reusable Classes */

.Action-button {
  background: var(--primary-accent);
  color: var(--light-gray-text);
  border: none;
  border-radius: 0.5rem;
  padding: 1.0rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.Action-button:hover {
  background: var(--alt-primary-accent);
  scale: 1.1;
  text-decoration: none;
}

.Button {
  background: var(--tertiary-color);
  color: var(--light-gray-text);
  border: none;
  border-radius: 0.5rem;
  padding: 1.0rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.Disabled-button {
  background: var(--tertiary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-accent);
  cursor: not-allowed;
  border-radius: 0.5rem;
  padding: 1.0rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
}

.Button:hover {
  background: var(--gray);
  scale: 1.0025;
  text-decoration: none;
}

.Text-shadow {
  text-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.9);
}

.Editable-content {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-decoration: none;

}


.Editable-content:hover {
  scale: 1.05;
  color: var(--secondary-accent);
  text-decoration: none;
}




input[type="checkbox"]:active {
  outline: var(--warning) solid 2px;
}

/* media queries */

/* MOVES THE TOST BASED ON SCREEN HEIGHT */
@media (max-height: 348px) {
  .Toast {
    top: 25%;
  }
}

@media (max-height: 224px) {
  .Toast {
    top: 35%;
  }
}

@media (max-height: 153px) {
  .Toast {
    top: 45%;
  }
}

@media (max-height: 100px) {
  .Toast {
    top: 55%;
  }
}

/* ANIMATES THE TOAST  */

/* FADE IN */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

/* FADE OUT */
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}