.Form-base {
    display: block;
    min-width: 200px;
    width: 50%;
    max-width: 500px;
    background: var(--tertiary-color);
    padding: var(--padding);
    border-radius: 0.4rem;
}

label {
    margin-top: 1rem;
    display: block;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}

input {
    display: block;
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--primary-accent);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    background: var(--secondary-color);
    color: var(--light-gray-text)
}

/* Form label container - holds the errors as well */
.Form-label-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.Form-label-container span {
    color: red;
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
}

.Form-label-container span:hover {
    text-decoration: none;
}


.Form-action-container {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Form-action-container p {
    margin-top: 2rem;
}

.Form-action-container span {
    cursor: pointer;
    color: var(--secondary-accent);
    text-decoration: none;
    font-weight: 500;
}





/* MOBILE */


@media only screen and (max-width: 768px) {
    .Form-base {
        width: 65%;
    }
}

@media only screen and (max-width: 668px) {
    .Form-base {
        width: 75%;
    }
}

@media only screen and (max-width: 630px) {
    .Form-base {
        width: 85%;
    }
}

@media only screen and (max-width: 530px) {
    .Form-base {
        width: 90%;
    }
}

@media only screen and (max-width: 475px) {
    .Form-base {
        width: 100%;
    }
}